extends layout 

block content
  html
    head
      title= 'Message Form'
    body 
    h1= 'Message Form'

    form(method="POST", action="/new")

      label(for="author") Author's Name: 
      input(type="text" name="author" id="author")

      label(for="message") Message Text: 
      input(type="text" name="message" id="message")

      button(type="submit")